<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <webHttpBinding>
          <binding name="HttpStreaming"  maxBufferSize="65536" maxReceivedMessageSize="67108864" 
                   transferMode="Streamed"/>
        </webHttpBinding>
      </bindings>
        <services>
            <service name="WCFService.DownloadService">
                <endpoint address="http://localhost:8780/WCFService/" binding="webHttpBinding"
                    bindingConfiguration="HttpStreaming" contract="WCFService.IDownloadService" />
            </service>
        </services>
      <behaviors>
      </behaviors>
    </system.serviceModel>
</configuration>